.app-layout > .app-header {
  position: fixed;
  width: 100%;
  z-index: 44;
  top: 0;
  left: 0; }

.app-layout > .app-content {
  margin-top: 62px;
  background-color: #fafafa; }
  .app-layout > .app-content > .app-container > .app-banner {
    min-height: 400px;
    width: 100%;
    background-color: #000;
    position: relative; }
  .app-layout > .app-content > .app-container > .app-main {
    margin-top: -89px; }
    .app-layout > .app-content > .app-container > .app-main > .app-main-box {
      background-color: #fff;
      position: relative;
      box-shadow: 2px 2px 20px 2px #d9d9d961; }
