.app-layout > .app-header {
  position: fixed;
  width: 100%;
  z-index: 44;
  top: 0;
  left: 0; }

.app-layout > .app-content {
  margin-top: 62px;
  background-color: #fafafa; }
  .app-layout > .app-content > .app-container > .app-banner {
    min-height: 400px;
    width: 100%;
    background-color: #000;
    position: relative; }
  .app-layout > .app-content > .app-container > .app-main {
    margin-top: -89px; }
    .app-layout > .app-content > .app-container > .app-main > .app-main-box {
      background-color: #fff;
      position: relative;
      box-shadow: 2px 2px 20px 2px #d9d9d961; }

.hamburger {
  width: 36px;
  height: 26px;
  position: relative;
  transform: rotate(0deg);
  cursor: pointer; }
  .hamburger span {
    background: #000;
    min-height: 3px;
    min-width: 100%;
    position: absolute;
    transition: 0.1s all; }
  .hamburger span:nth-child(1) {
    top: 0px;
    transform-origin: left center; }
  .hamburger span:nth-child(2) {
    top: 13px;
    transform-origin: left center; }
  .hamburger span:nth-child(3) {
    top: 26px; }

.divider-x {
  min-height: 4px;
  position: relative;
  background-color: #000; }
  .divider-x.primary {
    background-color: #f8b500; }
